<html>
    <%- include("./partials/header.ejs") %>
    <body>
        <%- include("./partials/navbar.ejs") %>
        <div class="container-fluid">
            <form method="POST">
                <div class="form-group">
                  <label for="members">Membres de <%= faction.name %></label>
                  <select multiple class="form-select" id="members" name="members">
                    <% users.forEach(user => { %>
                        <option <% if(faction.members.includes(user.username)){%> selected <%} %> value="<%= user.username %>"><%= user.username %></option>
                    <% }) %>
                  </select>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Créer la faction</button>
              </form>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>